<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Twitter oauth token:</strong>
  <%= @user.twitter_oauth_token %>
</p>

<p>
  <strong>Twitter oauth token secret:</strong>
  <%= @user.twitter_oauth_token_secret %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
